<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Consulta de anotação</li>
  </ol>
</nav>
<h2>Consulta a Informações da Nota</h2>
<br>
<p><b>{{nota.titulo}}</b></p>
<p>{{nota.texto}}</p>
<p><b>Chave: </b>{{nota.chave}}</p>
<hr>
<p><b>Importância: </b>{{nota.importancia}}</p>
<a role="button" data-bs-toggle="modal" 
					data-bs-target="#ModalExclusao" class="btn btn-danger" >Excluir
				</a>

<a href="/nota/altera/{{nota.chave}}"><button class="btn btn-success">Alterar</button></a>


<a href="/"><button class="btn btn-secondary">Voltar</button></a>


<div class="modal fade" id="ModalExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exclusão de nota</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir a nota "{{nota.titulo}}"?</p>
      </div>
      <div class="modal-footer">
        <a href="/"><button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button></a>
        <a href="/nota/deleta/{{nota.chave}}"><button type="button"  class="btn btn-danger">Excluir</button></a>
      </div>
    </div>
  </div>
</div>




